

.staticContainer {
    background-color: red;
    height: 200px;
    width: 100px;
}

.staticNav {
    background-color: red;
    font-size: 2em;
}

.slidingContainer {
    background-color: skyblue;
    height: 200px;
    width: 200px;
    position: absolute;
    top: 10px;
    left: 100px;
}

.slidingNav {
    background-color: skyblue;
    font-size: 2em;
    padding-top: 40px;
}

ul {
    list-style-type: none;
  }

.hidden {
    left: -200px;
}

.open {
    position: relative;
    left: 30px;
}

